.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 2rem 0;

  .desc {
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: justify;
    margin: 0 10rem 0 10rem;
  }

  @media screen and (max-width: 600px) {
    .desc {
      font-size: 1.5rem;
      margin: 0 3rem 0 3rem;
    }
  }

  h1 {
    line-height: 1.5;
    text-align: center;
  }

  a:visited {
    color: #474747;
  }

  .contact {
    padding-top: 3rem;
    text-align: center;
  }
}
