.socialSignIn {
  margin: 1rem auto 0;
}

.links {
  width: 100%;
  font-size: 1.4rem;
  margin: 1.5rem auto 0;
  text-align: center;

  a {
    color: black;
  }
}

.create {
  padding-top: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 1.5rem;

  a {
    font-size: 1.6rem;
    color: black;
  }
}
