.table {
  th,
  td {
    font-size: 1.6rem;
  }
  @media screen and (max-width: 600px) {
    td {
      height: 7rem;
    }

    img {
      height: 8rem;
      width: auto;
    }
    th,
    td {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 350px) {
    img {
      height: auto;
      width: 5rem;
    }
    th,
    td {
      font-size: 1rem;
    }
  }
}

img {
  border-radius: 5px;
}
