.order {
  h1 {
    font-size: 1.8rem;
    padding-left: 1.5rem;
  }
  @media screen and (max-width: 350px) {
    h1 {
      font-size: 1.1rem;
      padding-left: 0;
    }
    h2 {
      font-size: 1.6rem;
    }
  }

  h2 {
    padding-top: 2rem;
    padding-left: 1.5rem;
  }
}
