.products {
  display: block;
  width: 100%;
  padding: 0;
  // margin: 2rem 0;

  .noProducts {
    padding-top: 10rem 0 10rem 0;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
  }

  .productResults {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem -10px 0;
  }

  .thumb {
    overflow: hidden;
    position: relative;

    h3 {
      display: none;
    }

    &:hover {
      img {
        opacity: 0.4;
        transition: 0.5s all ease-in-out;
        -webkit-transform: scale(1.1); /* Safari and Chrome */
        -moz-transform: scale(1.1); /* Firefox */
        -ms-transform: scale(1.1); /* IE 9 */
        -o-transform: scale(1.1); /* Opera */
      }
      h3 {
        display: block;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .product {
    width: 33.333333333%;
    margin: 0 auto 2rem;
    padding: 0 10px;

    .thumb {
      display: block;
      width: 100%;

      img {
        display: block;
        max-height: 25rem;
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 5px;
      }
    }

    .details {
      display: block;
      width: 100%;
      padding: 1rem 0;
      margin: 0 auto;
      text-align: center;
      ul,
      ul li {
        padding: 0;
        margin: 0;
      }

      ul {
        li {
          display: block;
          width: 100%;
          list-style-type: none;
          text-align: center;
          margin: 0 0 0.5rem;

          .name {
            font-size: 2.2rem;
            line-height: 1.2;
            font-weight: 400;
          }

          .price {
            font-size: 1.6rem;
            line-height: 1;
            font-weight: 400;
          }

          .addToCart {
            margin: 2rem 0 0 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .product {
    width: 50%;
    margin: 0 auto 2rem;
    padding: 0 10px;

    .thumb {
      display: block;
      width: 100%;

      .showProduct {
        display: none;
      }

      img {
        display: block;
        height: calc(100% - 2rem);
        width: 100%;
        margin: 0;
        border-radius: 5px;
      }
    }

    .details {
      display: block;
      width: 100%;
      padding: 1rem 0;
      margin: 0 auto;

      ul,
      ul li {
        padding: 0;
        margin: 0;
      }

      ul {
        li {
          display: block;
          width: 100%;
          list-style-type: none;
          text-align: center;
          margin: 0 0 0.5rem;

          a {
            color: black;
          }

          .name {
            font-size: 2.2rem;
            line-height: 1.2;
            font-weight: 400;
          }

          .price {
            font-size: 1.6rem;
            line-height: 1;
            font-weight: 400;
          }

          .addToCart {
            margin: 2rem 0 0 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .product {
    width: 100%;
    margin: 0 auto 2rem;
    padding: 0 10px;

    .thumb {
      display: block;
      width: 100%;

      &:hover {
        img {
          opacity: 1;
          transition: none;
          -webkit-transform: none; /* Safari and Chrome */
          -moz-transform: none; /* Firefox */
          -ms-transform: none; /* IE 9 */
          -o-transform: none; /* Opera */
        }
        h3 {
          display: none;
        }
      }

      .showProduct {
        display: none;
      }

      img {
        display: block;
        height: calc(100% - 2rem);
        width: 100%;
        margin: 0;
        border-radius: 5px;
      }
    }

    .details {
      display: block;
      width: 100%;
      padding: 1rem 0;
      margin: 0 auto;

      ul,
      ul li {
        padding: 0;
        margin: 0;
      }

      ul {
        li {
          display: block;
          width: 100%;
          list-style-type: none;
          text-align: center;
          margin: 0 0 0.5rem;

          a {
            color: black;
          }

          .name {
            font-size: 2.2rem;
            line-height: 1.2;
            font-weight: 400;
          }

          .price {
            font-size: 1.6rem;
            line-height: 1;
            font-weight: 400;
          }

          .addToCart {
            margin: 2rem 0 0 0;
          }
        }
      }
    }
  }
}
