.products {
  display: block;
  width: 100%;
  padding: 0;
  // margin: 2rem 0;

  .productResults {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem -10px 0;
  }
}

@media screen and (min-width: 700px) {
  .product {
    width: 33.333333333%;
    margin: 0 auto 2rem;
    padding: 0 10px;

    .thumb {
      display: block;
      width: 100%;

      &:hover {
        opacity: 0.7;
      }

      img {
        display: block;
        height: 27rem;
        width: 100%;
        margin: 0;
        border-radius: 5px;
      }
    }

    .details {
      display: block;
      width: 100%;
      padding: 1rem 0;
      margin: 0 auto;

      ul,
      ul li {
        padding: 0;
        margin: 0;
      }

      ul {
        li {
          display: block;
          width: 100%;
          list-style-type: none;
          text-align: left;
          margin: 0 0 0.5rem;

          a {
            color: black;
          }

          .name {
            font-size: 2.2rem;
            line-height: 1.2;
            font-weight: 400;
          }

          .price {
            font-size: 1.6rem;
            line-height: 1;
            font-weight: 400;
          }

          .addToCart {
            margin: 2rem 0 0 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .product {
    width: 50%;
    margin: 0 auto 2rem;
    padding: 0 10px;

    .thumb {
      display: block;
      width: 100%;

      &:hover {
        opacity: 0.7;
      }

      img {
        display: block;
        height: 18rem;
        width: 100%;
        margin: 0;
        border-radius: 5px;
      }
    }

    .details {
      display: block;
      width: 100%;
      padding: 1rem 0;
      margin: 0 auto;

      ul,
      ul li {
        padding: 0;
        margin: 0;
      }

      ul {
        li {
          display: block;
          width: 100%;
          list-style-type: none;
          text-align: left;
          margin: 0 0 0.5rem;

          a {
            color: black;
          }

          .name {
            font-size: 2.2rem;
            line-height: 1.2;
            font-weight: 400;
          }

          .price {
            font-size: 1.6rem;
            line-height: 1;
            font-weight: 400;
          }

          .addToCart {
            margin: 2rem 0 0 0;
          }
        }
      }
    }
  }
}
