.confirmationContainer {
  .description {
    padding-top: 2rem;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
  }
  .orderWrap {
    padding: 2rem 0 0 0;

    h1 {
      font-size: 1.8rem;
    }
    h1,
    h2 {
      padding-left: 1.5rem;
    }
    .deliveryDetails {
      padding-left: 1.5rem;
      font-size: 1.6rem;

      td {
        padding-right: 4rem;
        line-height: 1.2;
      }
    }

    h2 {
      padding-top: 2rem;
    }

    @media screen and (max-width: 550px) {
      h1,
      h2 {
        font-size: 1.4rem;
      }
      .deliveryDetails {
        font-size: 1.4rem;
      }
    }
  }
}
