.confirmationContainer {
  .orderWrap {
    padding: 4rem 0 0 0;

    .deliveryDetails {
      font-size: 1.6rem;
      td {
        padding-right: 2rem;
        line-height: 1.2;
      }
    }

    h2 {
      padding-top: 2rem;
    }

    @media screen and (max-width: 550px) {
      h1,
      h2 {
        font-size: 1.4rem;
      }
      .deliveryDetails {
        font-size: 1.2rem;
      }
    }
  }
}
