.confirmationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .description {
    padding-top: 2rem;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    max-width: 80rem;
    @media screen and (max-width: 350px) {
      p {
        font-size: 1.2rem;
      }
    }
  }
  .orderWrap {
    padding: 2rem 0 0 0;
    width: 100%;

    h1 {
      font-size: 1.8rem;
      padding: 2rem 0 0 1.5rem;
    }
    .deliveryDetails {
      padding-left: 1.5rem;
      font-size: 1.6rem;

      td {
        padding-right: 4rem;
        line-height: 1.2;
      }
    }

    @media screen and (max-width: 550px) {
      h1,
      h2 {
        font-size: 1.4rem;
      }
      .deliveryDetails {
        font-size: 1.4rem;
      }
    }

    @media screen and (max-width: 350px) {
      h1,
      h2 {
        font-size: 1.3rem;
      }
      .deliveryDetails {
        font-size: 1.2rem;
      }
    }
  }
}
