.productCard {
  max-width: 80rem;
  margin: 0 auto 10rem;

  .breadcrumbs {
    padding-top: 1.5rem;
  }
  .hero {
    display: block;
    width: 100%;
    margin: 2rem auto;

    img {
      display: block;
      width: 100%;
      margin: 0;
      //border-radius: 5px;
    }
  }

  .price {
    font-size: 2.5rem;
  }

  .addToCart {
    width: auto;
    padding: 2rem 0 2rem 0;
  }

  @media screen and (max-width: 550px) {
    .addToCart {
      width: auto;
    }
  }

  @media screen and (max-width: 450px) {
    h1,
    h2 {
      font-size: 2.4rem;
    }
  }

  .desc {
    text-align: left;
    font-weight: 300;

    @media screen and (max-width: 2200px) {
      p {
        line-height: 1.4;
      }
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  .productDetails {
    .shortInfo {
      text-align: center;
      .name {
        text-align: center;
      }
    }

    ul,
    ul li {
      padding: 0;
      margin: 0;
    }

    ul li {
      font-size: 1.6rem;
      list-style-type: none;
      margin: 0 auto 1rem;

      h1 {
        margin: 0;
      }
    }
  }
}
