.btn {
  display: block;
  width: 100%;
  background: black;
  font-size: 1.8rem;
  color: white;
  line-height: 1;
  padding: 1rem 0;
  margin: 0 auto;
  font-weight: 300;
  text-transform: uppercase;
  border: 0;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
