.btn {
  display: block;
  width: 100%;
  background: black;
  font-size: 1.8rem;
  color: white;
  line-height: 1;
  padding: 1rem;
  margin: 0 auto;
  font-weight: 600;
  border: 0;
  outline: none;
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;

  &:hover {
    background-color: rgb(68, 68, 68);
  }
}
