.checkout {
  // margin: 2rem auto;

  h1 {
    display: block;
    width: 100%;
  }

  p {
    text-align: center;
  }

  .checkoutHeader {
    border-bottom: 1px solid black;
    margin-top: 3rem;
  }
  .sum {
    line-height: 1.5;
    .amountRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 3rem;
    }
  }
  .cart {
    max-width: 100rem;
    margin: 0 auto;

    table {
      width: 100%;
    }
  }

  .checkoutHeader,
  .cart {
    width: 100%;
    // text-align: left;

    th,
    td {
      font-size: 1.6rem;
      width: 22%;
    }

    th {
      padding-left: 10px;
    }
  }

  .cartItem {
    tr {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
    td img {
      border-radius: 5px;
      display: block;
      width: 100%;
    }
  }

  .cartBtns {
    display: block;
    width: 100%;
  }

  .cartBtn {
    cursor: pointer;
  }
}

@media screen and (max-width: 560px) {
  .checkout {
    Button {
      font-size: 1.4rem;
    }

    .cartItem {
      img {
        height: auto;
        width: 10rem !important;
      }
      tr {
        height: 10rem;
      }
    }

    .checkoutHeader,
    .cart {
      h2 {
        text-align: center;
      }
      width: 100%;
      th {
        padding-right: 15px;
      }

      th,
      td {
        font-size: 1.25rem;
        width: 20%;
      }

      td {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .checkout {
    .checkoutHeader,
    .cart {
      width: 100%;
      th {
        padding-right: 10px;
      }

      h2 {
        text-align: center;
      }

      th,
      td {
        font-size: 1rem;
        width: 20%;
      }

      td {
        text-align: center;
      }
    }
  }
}
