.directory {
  height: 100%;
  .wrap {
    display: inline-block;
    height: 100%;
    width: 100%;

    .item {
      position: relative;
      width: 50%;
      height: 100%;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        width: 100%;
        height: 100%;
      }

      a {
        background: white;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        font-size: 2rem;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        padding: 8px 10px;
        border: 1px solid black;
        border-radius: 3px;
      }
    }
  }
}
