.header {
  height: auto;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .desktopHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 3rem;
      a {
        &:hover {
          color: #24947f;
        }
      }
    }

    .mobile-menu {
      display: none;
    }

    .logo {
      // position: absolute;
      width: 25rem;
      height: auto;
      padding-bottom: 5rem;
      padding-top: 3rem;

      // top: 50%;
      // left: 10px;
      // -webkit-transform: translateY(-50%);
      // -moz-transform: translateY(-50%);
      // transform: translateY(-50%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

    .desktop {
      // position: absolute;
      // top: 50%;
      // right: 10px;
      // -webkit-transform: translateY(-50%);
      // -moz-transform: translateY(-50%);
      // transform: translateY(-50%);
      padding-bottom: 1rem;

      ul,
      li {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 5rem;

        // text-transform: uppercase;

        // &:last-child {
        //   margin-right: 0;
        // }

        a,
        span {
          line-height: 1;
          font-size: 1rem;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    @media (max-width: 650px) {
      .desktopHeader {
        padding-bottom: 0;
      }

      .desktop {
        display: none;
      }
      .logo {
        display: none;
      }
      .mobileLogo {
        width: 12rem;
        height: auto;
        width: 33.33333%;

        img {
          width: 100%;
          margin: 0;
        }
      }
      .mobile-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 100%;
        float: right;
        padding-top: 1rem;

        .mobile-cart {
          width: 33.33333%;
          display: flex;
          justify-content: flex-end;
          padding-right: 1.5rem;
        }

        .menu {
          width: 33.33333%;
          padding: 0 1rem 0 1rem;
          .drawerHeader {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
div.CookieConsent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  background-color: rgba(0, 0, 0, 0.85) !important;
}

@media (max-width: 650px) {
  .header {
    height: 6.5rem;
  }
}
