.footer {
  .wrap {
    max-width: 1450px;
    padding: 20px 10px;
    margin: 0 auto;
    font-size: 1.8rem;

    .payments {
      text-align: center;
    }

    img {
      height: auto;
      width: 4.5rem;
    }

    p {
      text-align: center;
    }
  }
}
