html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App,
.fullHeight {
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
}

h1 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto 2rem;
  font-size: 3rem;
  line-height: 3.2rem;
  color: #186355;
  text-align: left;
  font-weight: 600;
  border-bottom: #d3d3d3;
}

h2 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto 2rem;
  font-size: 2.5rem;
  line-height: 2.7rem;
  color: #1f1e1e;
  text-align: left;
  font-weight: 400;
  border-bottom: #d3d3d3;
}

h3 {
  color: #1f1e1e;
}

th,
td,
span {
  color: #1f1e1e;
}

a {
  color: #186355;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: #186355;
}

p {
  color: #1f1e1e;
  font-size: 1.5rem;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main {
  width: 100%;
  height: calc(100% - 6.5rem);
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}

.controlPanel {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100%;
  padding: 3rem 0 6rem 25rem;
  border-bottom: 1px solid #d3d3d3;

  @media screen and (max-width: 850px) {
    padding: 3rem 0 6rem 8rem;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #d3d3d3;

    @media screen and (max-width: 850px) {
      width: 8rem;
    }
  }

  .content {
    padding: 0 10px;
  }
}

.adminLayout {
  height: calc(100% - 6.5rem - 5.8rem - 3.6rem);
}

.dashboardLayout {
  height: calc(100% - 6.5rem - 5.8rem);
}
