.formRow {
  input,
  &.checkoutInput select {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    padding: 10px 5px;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
  }
}
